.env
.env.local
.env.*.local
.dev.vars
.dev.vars.*
!.dev.vars.example
*.log
node_modules
dist
dist-ssr
.wrangler
.DS_Store

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
